/* For the main form */
.form-signin{
    display: none;
    width: 300px;
    margin: 0 auto;
    border: 1px solid grey;
    border-top: none;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-signin.active{
    display: block;
}

/* For the logo */
.logo{
    width: 300px;
    margin: 10px auto;
    display: block;

}

/* To choose between login or signup */
.toggle-form{
    width: 300px;
    margin: 0 auto;
    display: flex;
}

/* Effects of hovering */
.open-login:hover, .open-signup:hover{
    border-bottom: 2px solid grey;
    color: black;
}

.open-login.active, .open-signup.active{
    background-color: white;
    border-bottom: 2px solid #e40f10;
    color: black;
}

.open-login, .open-signup{
    background-color: #fafafa;
    color: grey;
    width: 50%;
    text-align: center;
    padding: 20px;
    border: 1px solid grey;
    transition: all 0.3s ;
    cursor: pointer;
}

.open-login{
    border-top-left-radius: 5px;
}
.open-signup{
    border-left: none;
    border-top-right-radius: 5px;
}