{% extends 'layout.html' %}

{%block content%}


<div id="outer-wrapper">
    <label id="switch">
        <input id="toggled-checkbox" type="checkbox">
        <span id="toggle-switch" class="slider round"></span>
    </label>

    <div id="main-content-container">
        <div id="preview-form-container" class="parameter-options-container show-display-flex-row">
            <form id="preview-query-parameters-form" method="POST">
                <div class="parameter-size" id="pollutant-options">
                    <div class="parameter-header">
                        <p> Pollutant type </p>
                    </div>
                    
                    <div class="parameter-body">
                        <div class="pm-item">
                            <input type="checkbox" name="pm1" class="pm-type" value="True">
                            <label for="pm1">PM1</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="pm2.5" class="pm-type" value="True">
                            <label for="female">PM2.5</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="pm10" class="pm-type" value="True">
                            <label for="other">PM10</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="no" class="pm-type" value="True">
                            <label for="other">NO</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="co" class="pm-type" value="True">
                            <label for="co">CO</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="Humidity" class="pm-type" value="True">
                            <label for="Humidity">Humidity</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="Temperature" class="pm-type" value="True">
                            <label for="Temperature">Temperature</label>
                        </div>
                    </div>
                </div>
                <div class="parameter-size" id="query-type-option">
                    <div class="parameter-header">
                            <p> Operation type </p>
                    </div>
                        
                    <div class="parameter-body">
                        <div class="pm-item">
                            <input type="radio" name="operation" id="max" class="operation-type" value="max">
                            <label for="pm1">Max</label>
                        </div>
                        <div class="pm-item">
                            <input type="radio" name="operation" id="min" class="operation-type" value="min">
                            <label for="female">Min</label>
                        </div>
                        <div class="pm-item">
                            <input type="radio" name="operation" id="mean" class="operation-type" value="mean">
                            <label for="other">Mean</label>
                        </div>
                        <div class="pm-item">
                            <input type="radio" name="operation" id="default" class="operation-type" value="default" checked>
                            <label for="other">None</label>
                        </div>
                    </div>
                </div>
                <div id="datetime-option">
                    <div class="parameter-header">
                            <p> Date Range </p>
                    </div>
                    <div class="parameter-body">
                        <div class="date-type">
                            <div class="date-label">
                                <label for="pm1">From:  </label>
                            </div>
                            <div class="date-values">
                                <input type="date" name="from-date" id="from-date" class="date-field" required>
                                <input type="time" name="from-time" step="1" id="from-time" class="time-field" required>
                            </div>
                        </div>
                        <div class="date-type">
                            <div class="date-label">
                                <label for="pm1">To:  </label>
                            </div>  
                            <div class="date-values">
                                <input type="date" name="to-date" id="to-date" class="date-field" required>
                                <input type="time" name="to-time" step="1" id="to-time" class="time-field" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="button-options">
                    <button class="btn btn-lg btn-danger btn-block" type="submit" id="preview-parameters">Preview</button>
                </div>
            </form>

        </div>

        <div id="download-form-container" class="hide-display parameter-options-container">
            <form id="download-query-parameters-form" onsubmit="return downloadDataSet()">
                <div class="parameter-size" id="pollutant-options">
                    <div class="parameter-header">
                        <p> Pollutant type </p>
                    </div>
                    
                    <div class="parameter-body">
                        <div class="pm-item">
                            <input type="checkbox" name="pm1" class="download-pm-type" value="True">
                            <label for="pm1">PM1</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="pm2.5" class="download-pm-type" value="True">
                            <label for="female">PM2.5</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="pm10" class="download-pm-type" value="True">
                            <label for="other">PM10</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="no" class="download-pm-type" value="True">
                            <label for="other">NO</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="co" class="download-pm-type" value="True">
                            <label for="co">CO</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="Humidity" class="download-pm-type" value="True">
                            <label for="Humidity">Humidity</label>
                        </div>
                        <div class="pm-item">
                            <input type="checkbox" name="Temperature" class="download-pm-type" value="True">
                            <label for="Temperature">Temperature</label>
                        </div>
                    </div>
                </div>
                <div class="parameter-size" id="query-type-option">
                    <div class="parameter-header">
                            <p> Operation type </p>
                    </div>
                        
                    <div class="parameter-body">
                        <div class="pm-item">
                            <input type="radio" name="download-operation" id="download-max" class="operation-type" value="max">
                            <label for="pm1">Max</label>
                        </div>
                        <div class="pm-item">
                            <input type="radio" name="download-operation" id="download-min" class="operation-type" value="min">
                            <label for="female">Min</label>
                        </div>
                        <div class="pm-item">
                            <input type="radio" name="download-operation" id="download-mean" class="operation-type" value="mean">
                            <label for="other">Mean</label>
                        </div>
                        <div class="pm-item">
                            <input type="radio" name="download-operation" id="download-default" class="operation-type" value="default" checked>
                            <label for="other">None</label>
                        </div>
                    </div>
                </div>
                <div  class="limit-size">
                    <div class="parameter-header">
                            <p> Query Limit </p>
                    </div>
                    <div>
                            <input type="checkbox" name="limit" id="download-limit" value="limit">
                            <input id="query-limit-value" type="number" name="limit" step="1" disabled>                          
                    </div>
                    <div class="parameter-header">
                            <p> Filename </p>
                    </div>
                    <div>
                            <input id="query-filename-value" type="text" name="filename">                          
                    </div>
                    
                </div>
                <div id="datetime-option">
                    <div class="parameter-header">
                            <p> Date Range </p>
                    </div>
                    <div class="parameter-body">
                        <div class="date-type">
                            <div class="date-label">
                                <label for="pm1">From:  </label>
                            </div>
                            <div class="date-values">
                                <input type="date" name="from-date" id="download-from-date" class="date-field" required>
                                <input type="time" name="from-time" step="1" id="download-from-time" class="time-field" required>
                            </div>
                        </div>
                        <div class="date-type">
                            <div class="date-label">
                                <label for="pm1">To:  </label>
                            </div>  
                            <div class="date-values">
                                <input type="date" name="to-date" id="download-to-date" class="date-field" required>
                                <input type="time" name="to-time" step="1" id="download-to-time" class="time-field" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="button-options">
                    <button class="btn btn-lg btn-danger btn-block" type="submit" id="download-parameters">Download</button>
                </div>
            </form>

        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                        <div class="{{category}}" id="notification-container">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div id="content-display">
            <div id="data-display">
                <div class="device-info-header">
                    <h2>Device ID</h2>
                    <h2>Results</h2>
                    <h2>View</h2>
                </div>
            </div>
            <div id="data-options"></div>
        </div>
        <div id="data-options-container">
            <div id="data-view"></div>
            <div id="data-download-options"></div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <div class="modal-content">
    
            <div class="piechart_3d" id="modal-left">
                <!-- <div id="piechart_3d" style="width: 900px; height: 500px;"> -->
                <!-- </div> -->
            </div>
            <div id="modal-right">
                <div id="graph-options"></div>
                <div id="graph-toggle">
                    <input type="radio" name="graph-type" id="circle-graph" checked>
                    <label for="pm1">Circle</label>
                    <input type="radio" name="graph-type" id="bar-graph">
                    <label for="pm1">Bar</label>
                </div>
            </div>
            <span class="close">&times;</span>
        </div>
    </div>
    <div id="cart-container">
        <div class="carts working-cart">
            <h3>Working Set</h3>
            <input id="delete-working-cart-items" type="button" value="delete">
            <input type="checkbox" id="working-mass-selected">
        </div>
        <div class="carts all-cart">
            <h3>All devices</h3>
            <input id="delete-all-cart-items" type="button" value="delete">
            <input id="add-nodes-to-working-cart" type="button" value="Add">
            <input type="checkbox" id="cart-mass-selection">
        </div>
    </div>
</div>


<link rel="stylesheet" href="{{url_for('static',filename='style/data.css')}}">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type = "text/javascript" src="{{url_for('static',filename='script/data.js')}}"></script>
<script type = "text/javascript" src="{{url_for('static',filename='script/cart.js')}}"></script>
<script>

        var rawData = "{{queryData|safe}}"
        var params = "{{params|safe}}";
        if (params!= "")
            cartLogic.setParameters(params.replace(/'/g,"\""));
        if (rawData != "")
            cartLogic.processQueryData(rawData.replace(/'/g,"\""));
</script>
{%endblock%}