<!DOCTYPE html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/contact.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
    <div class="main">
        <div class="main-header">
            <div class="header-logo red">
                <h1>THE PARTICULATES</h1>
            </div>
            <div class="right">
                    <div class="menu-option menu-border">
                            <a href="/welcome"> Welcome</a>
                        </div>
                        {%if active%}
                    <div class="menu-option menu-border">
                            <a href="/"> Dashboard</a>
                        </div>
                        {%endif%}
                    <div class="menu-option menu-border">
                            <a href="https://app.swaggerhub.com/apis-docs/AirU/air-u_api/1.0.0#/" target="_blank">Docs </a>                    </div>
                    <div class="menu-option menu-border">
                        <a href="/contact">Contact</a> 
                    </div>
                    <div class="menu-option">
                        {%if active%}
                            <a class="logout" href="/logout"> Sign out </a>
                        {%else%}
                            <a class="login" href="/login"> Sign in </a>

                        {%endif%}
                        </div>


                </div>
        </div>
        <div class="main-body">
                <div class="parallax">
                        <img class="logo" src="{{url_for('static', filename='img/particulates.jpg')}}">
                    </div>
                <div class="project-description">
                    <h1>Meet The Team!</h1>

                    <div class="info">
                        <div class="info-img">
                                <img class="pic-left" src="{{url_for('static', filename='img/connor.png')}}">
                                <p>Connor Otterbachman</p>
                                <p>connorotte@gmail.com </p>
                                <p><a href="https://www.linkedin.com/in/connor-ottenbacher-36339a117/"> LinkedIn</a></p>
                            </div>

                        <div class="info-text">
                                <p>Connor Ottenbacher is a computer science major from Cedar City, Utah. He is experienced in developing web and android applications with several applications released on the Google Play app store. When not programming, he enjoys spending time in the great outdoors fishing, and hunting.</p>
                        </div>
                    </div>

                    <div class="info-right">
                            <div class="info-text">
                                    <p>Trevor Chapman is a computer science major from Layton, UT focusing on mobile development and databases. He is currently employed at Salt Lake County as a Systems Admin, working with internal customers for their Case Management needs. In his free time he enjoys playing video games and sleeping.</p>
                            </div>
                        <div class="info-img-right">
                            <img class="pic-right" src="{{url_for('static', filename='img/trevor.png')}}">
                            <p>Trevor Chapman</p>
                            <p>tchapman121@gmail.com</p>
                            <!-- <p><a href="https://www.linkedin.com/in/connor-ottenbacher-36339a117/"> LinkedIn</a></p> -->
                            </div>

                    </div>

                    <div class="info">
                            <div class="info-img">
                                    <img class="pic" src="{{url_for('static', filename='img/trenton.png')}}">
                                    <p>Trenton Taylor</p>
                                    <p>trentontaylor397@yahoo.com</p>
                                    <p><a href="https://www.linkedin.com/in/tnt-taylor/"> LinkedIn</a></p>
                                </div>
    
                            <div class="info-text">
                                    <p>Trenton Taylor is a computer science major at the University of Utah. He is from Torrey, Utah. He currently works in the Laboratory for Nano-Integrated Systems where he helps design and develop IOT devices. He has experience writing software for embedded systems as well as PCB design. Other than programming he enjoyed spending his time outside riding motorcycles and recreational shooting.</p>
                                </div>
                        </div>


                    <div class="info-right">
                            <div class="info-text">
                                <p>Gaitlan Knudson is a fifth year Computer Science undergraduate hailing from Souther Utah. He has a broad set of skills when it comes to programming, but his strengths are anything Python or web related. 
                                    This Senior Capstone Project is the most substantial project he has contributed to routinely. Gaitlan current works at UIT and has for the past 2 years. His most obvious contribution was fixing the attachment button for
                                    U-mail. Those who know, know! In his free time he will try to fit in a road/camp trip, play pick up games of basketball, or boulder with friends.
                                    <!-- Gaitlan has been very focused on his school work over the last few years and makes it his first priority. -->
                                </p>
                                </div>
                        <div class="info-img-right g">
                            <img class="pic-right" src="{{url_for('static', filename='img/gater.png')}}">
                            <p>Gaitlan Knudson</p>
                            <p>U0969854@umail.utah.edu </p>
                            </div>

                    </div>


                </div>
        </div>

        </div>
    </div>

    
</body>

