{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{%block content%} 
        <h2 class="acc-header">Devices</h2>

        <div class="header-container">

                <table class="device-table">
                        <tr>
                                <th class="theaders"><p>Device Name</p></th>
                                <th class="theaders"><p>Device ID</p></th>
                                <th class="theaders"><p>Edit</p></th>
                                <th class="theaders"><p>Add to Cart</p></th>
                                <th class="theaders"><p>Delete</p></th>

        
                        </tr>

                        {%for device in devices %}
                                <tr>
                                        <td> <p> {{device.DeviceName}}</p> </td>
                                        <td> <p>{{device.DeviceId}} </p></td>
                                        <td> <a href="/devices/edit/{{device.DeviceId}}"><i class="fas fa-edit" style="color: #f0ad4e;"></i> </a></td>
                                        <td> <h5 class="add-to-cart" id="{{device.DeviceId}}"><i class="fas fa-cart-plus" style="color: #5cb85c;"></i></h5> </td>
                                        <td><a href="/devices/remove/{{device.DeviceId}}"><i class="fas fa-times" style="color: #d12c2c;"></i></a></td>
                                </tr>
                        {%endfor%}

                </table>

        </div>

        <h2 class="acc-header">Add Device</h2>

        <div class="add-container">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                        {% for category, message in messages %}
                                                {%if "_login" in category%}
                                                        <div class="{{category}}">{{ message }}</div>
                                                {%endif%}
                                        {% endfor %}
                                {% endif %}
                        {% endwith %}
                <table>
                                <tr>
                                        <th align="left" class="theaders">Username</th>
                                        <th align="left"  class="theaders">Device ID</th>
                                        <th align="left" class="theaders">Device Name</th>
                                        <th></th>
                        
                                </tr>
                                <tr>
                                        <form method='POST' action="/devices/add">
                                                {{ form.hidden_tag() }}
                                        <td> {{ wtf.form_field(form.username) }} </td>
                                        <td> {{ wtf.form_field(form.deviceid)}} </td>
                                        <td> {{ wtf.form_field(form.devicename)}} </td>
                                        <td> <input class="button" type="submit" value="Add new device"></input> </td>  
                                        </form>                
                        
                                </tr>
                        
                        </table>
        </div>

<link rel="stylesheet" href="{{url_for('static', filename='style/devices.css')}}">
<script src="{{url_for('static', filename='script/devices.js')}}"></script>



{%endblock%}