{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{%block content%}

<!-- <p>Logged in: {{ user.username }}</p>  -->

<div class="wrapper">
        
    <div class="header-container">
                <a href="/devices">Devices</a> > Edit > {{device.DeviceId}}</h2>
    </div>
    
    <div class="user-info">
            <!-- <div class="info-element">  -->
        <table>
            <tr>
                    <th align="left"  class="theaders">Field</th>
                    <th align="left"  class="theaders">Current</th>
                    <th align="left"  class="theaders">Update</th>
            </tr>
            <tr>

                        <td>
                            <label class="label-text" for="{{value}}"> Device Name</label>
                        </td>
                        <td>
                            <span>{{device.DeviceName}}</span>
                        </td>
                        <td>
                                <form class="update-field" method="POST" action="/devices/edit/{{device.DeviceId}}">
                                        {{ form.hidden_tag() }}
                                        {{ wtf.form_field(form.devicename)}}
                                        <button style="display: inline;" type="submit"><i class="fas fa-save"></i></button>
                                </form>
                        </td>

            </tr>
        </table>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                            <div class="{{category}}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
                        <!-- </div> -->
    </div>

</div>


<link rel="stylesheet" href="{{url_for('static', filename='style/account.css')}}">

{%endblock%}