<html lang="en">
<head>
    {%block head%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="{{url_for('static', filename='layout.css')}}">
    {%endblock%}
</head>
<body>
    <div class="sidenav">
        <div class="nav-wrapper">
            <img class="logo" src="{{url_for('static', filename='red_cloud.jpeg')}}">
            {%if current_user.is_active%}
            <a class="nav-text" href="{{url_for('account')}}"><img class="logo" src="{{url_for('static', filename='user2.png')}}">Account</a>
            <a class="nav-text" href="{{url_for('graph')}}"><img class="logo" src="{{url_for('static', filename='bars-chart.png')}}">Graph</a>
            <a class="nav-text" href="{{url_for('map')}}"><img class="logo" src="{{url_for('static', filename='map-location.png')}}">Map</a>

            <a class="logout" href="#contact">
            <img class="logo" src="{{url_for('static', filename='logout.png')}}">
                {%if current_user.is_active%}
                        Logout
                {%else%}
                    Login
                {%endif%}
            </a>
            {%endif%}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{url_for('static', filename='layout.js')}}"></script>
</body>
</html>