{% extends 'layout.html' %}

{%block content%}
<style>
    .mapouter{
        margin-top: 47px;
        position: fixed;
        left: 85px;
    }
</style>
<!-- <p>Logged in: {{ user.username }}</p>  -->
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="1680" height="850" id="gmap_canvas" src="https://www.google.com/maps/d/embed?mid=18hhhhNs71nqVay-RQP90AIZGHI_wpCKv"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>
    <script src="{{url_for('static', filename='map.js')}}"></script>
{%endblock%}
