<!DOCTYPE html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style/welcome.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>
    <div class="main">
        <div class="main-header">
            <div class="header-logo">
                    <img id="welcoome-logo" src="{{url_for('static', filename='img/aqLogo.png')}}">
            </div>
            <div class="right">
                    <div class="menu-option menu-border">
                            <a href="/welcome"> Welcome</a>
                        </div>
                        {%if active%}
                    <div class="menu-option menu-border">
                            <a href="/"> Dashboard</a>
                        </div>
                        {%endif%}

                    <div class="menu-option menu-border">
                            <a href="#"> Docs </a> 
                        </div>
                        <div class="menu-option menu-border">
                                <a href="/contact">Contact</a> 
                            </div>
                    <div class="menu-option men-d">
                        {%if active%}
                            <a class="logout" href="/logout"> Sign out </a>
                        {%else%}
                            <a class="login" href="/login"> Sign in </a>

                        {%endif%}
                        </div>


                </div>
        </div>
        <div class="main-body">
                <div class="parallax">

                </div>
                <div class="project-description">
                    <h1>About the Project</h1>

                    <div class="info">
                        <div class="info-text">
                            <p>Over the last few years, low-cost commodity sensors have hit the markets allowing — for the first time — the ability to measure hyperlocal air quality conditions outside of our homes.</p>
                        </div>
                        <div class="info-img">
                                <i class="fas fa-globe red"></i>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-img">
                                <i class="fas fa-university red"></i>
                        </div>
                        <div class="info-text">
                            <p>   At the University of Utah, we are building infrastructure that utilizes these new sensors to create accurate measurements of air quality microclimates. 
                                    Our Outdoor Air Quality project leverages existing government and community-based air quality efforts to build a dense network of sensors across Salt Lake City. </p>
                        </div>
                    </div>

                    <div class="info">

                            <div class="info-text">
                                <p> This project utilizes our research in sensor design, air quality science, computational modeling, and communication of data; furthermore, it relies on citizens to engage, promote, and facilitate science. We are currently looking for Salt Lake City residents to be part of building our outdoor network by hosting sensors at their homes. Want to get involved? Head over to the sign in tab to sign-up. 
                                    </p>
                            </div>
                            <div class="info-img">
                                    <i class="fas fa-users red"></i>
                            </div>
                        </div>

                        <div class="info">
                                <div class="info-img">
                                        <i class="fas fa-heart red"></i>
                                    </div>
                                <div class="info-text">
                                        <p>
                                                This work is generously funded by grants from the National Science Foundation, the National Institutes of Health, Utah Ignite, Lawrence T. & Janet T. Dee Foundation and UCAIR.
                                        </p>
                                </div>

                            </div>

                </div>
        </div>

        </div>
    </div>

    
</body>

